#info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 100;
    font-size: 40px;
    color: #76b7b2;
    line-height: 0px;
    display: block;
    font-family: monospace;
}

#dev {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
    z-index: 100;
    font-size: 15px;
    color: #aaaaaa;
    line-height: 0px;
    display: block;
    font-family: monospace;
}
#bath {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    z-index: 100;
    font-size: 15px;
    color: #aaaaaa;
    line-height: 0px;
    display: block;
    font-family: monospace;
		z-index:999;
}
