#catalog1 {
    /*background-image: url(../lib/catalog/catalog-1.png);*/
}

.item {
    margin-bottom: 1px;
}

.work {
    margin-bottom:0;
    /*border-bottom: 40px;*/
}

#footer {
    font-family: "Microsoft YaHei", "黑体", "宋体";
    font-size: 10px;
    width: 80%;
    text-align: center;
    position: fixed;
    /*bottom: 2%;*/
    color: #333333;
}

#logo {
    position: absolute;
    top: 0px;
    z-index: 1000;
}


/*#defaultCanvas1{
  position:absolute;
  top:0px;
  z-index: 1000;
}*/

#canvasBG {
    position: fixed;
    /*z-index: -100;*/
}

#mask {
    position: fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    background: #eeeeee;
    opacity: 0.3;
    display: block;
    margin-bottom: 50px;
    /*z-index:-999;*/
}

#QR {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#qr {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
}

a {
    width: 100px;
    height: 100%;
    z-index: 200;
    top: 0px;
}

.item {}

#intro {
    background: url(./lib/intro.png);
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    border-radius: 40px;
}

.content {
    font-family: "Microsoft YaHei", "黑体", "宋体";
    position: relative;
    /*top: 5%;*/
    color: #555555;
    text-align: center;
    /*margin-top: 80px;*/
    /*margin-bottom: 80px;*/
}

.content p {
    margin-top: 20px;
    font-weight: normal;
}

#interact {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 35%;
}

#creator {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 8px;
}

#domino {
    font-size: 32px;
    font-weight: lighter;
}

.title {
    letter-spacing: 5px;
    padding: 0;
    font-weight: normal;
}

#logo {
    cursor: pointer;
}

#introDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    /*height: 100vw;*/
    background-color: #eeeeee;
    display: none;
}

html, body {
    overflow: hidden;
    overflow-y: auto;
}

.name {
    font-family: "Microsoft YaHei", "黑体", "宋体";
    position: absolute;
    font-weight: lighter;
    text-align: right;
    top: 50px;
    right: 67px;
    font-size: 40px;
    /*word-spacing: 100px;*/

    color: #000000;
    z-index: 1
}
.name2 {
    font-family: "Microsoft YaHei", "黑体", "宋体";
    position: absolute;
    font-weight: lighter;
    text-align: right;
    top: 100px;
    right: 67px;
    font-size: 40px;
    /*word-spacing: 100px;*/

    color: #000000;
    z-index: 1
}
.en {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    line-height: 0;
    position: relative;
    left: 60vw;
    top: 36vw;
    font-size: 15px;
    word-spacing: 5px;
    letter-spacing: 5px;
    color: 527283;
    z-index: 101;
    /*font-size: :30px;*/
}

.img {
    width: 100vw;
    position: relative;
    /*top: 0;*/
}
